<div class="bg-primary h-screen py-4 px-3 md:py-6 md:px-8">
  <nav>
    <ul class="py-4">
      <li class="py-2">
        <a class="nav-link" routerLink="/"
          ><span class="font-covered text-xl">2SHOP</span></a
        >
      </li>
      <li class="py-2">
        <a class="nav-link" routerLink="/product">Products</a>
      </li>
      <li class="py-2">
        <a class="nav-link" routerLink="/store">Store</a>
      </li>
      <li class="py-2">
        <a class="nav-link" routerLink="/sales">Sales</a>
      </li>
    </ul>
  </nav>
</div>
